* {
  font-family: "Nanum Myeongjo", serif;
  font-style: normal;
}

:root {
  --primary-100: #0085ff;
  --primary-200: #69b4ff;
  --primary-300: #e0ffff;
  --accent-100: #cc2936;
  --accent-200: #00668c;
  --text-100: #ffffff;
  --text-200: #9e9e9e;
  --bg-100: #1e1e1e;
  --bg-200: #2d2d2d;
  --bg-300: #454545;
}

body {
  background-color: var(--bg-100);
}

h2 {
  color: var(--text-100);
  margin-left: 15px;
}

.main {
  display: grid;
  grid-template-columns: minmax(800px, 1200px);
  justify-content: center;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 15px 0px 15px;
  padding: 0px 10px 0px 10px;
  border: 2px solid black;
  border-radius: 12px;
  color: var(--text-100);
  background-color: var(--bg-200);
  font-weight: bolder;
}

.add-todo {
  display: flex;
  flex-direction: column;
  margin: 5px 15px 0px 15px;
  padding: 5px 10px 5px 10px;
  border: 2px solid black;
  border-radius: 12px;
  color: var(--text-100);
  background-color: var(--bg-200);
}

.content-add {
  display: flex;
  justify-content: space-between;
}

.check-content {
  display: none;
  color: red;
  margin: -5px 0px 5px 15px;
}

.title-input {
  width: 200px;
  height: 30px;
  border-radius: 12px;
  background-color: var(--bg-300);
  color: var(--text-100);
}

.content-input {
  width: 300px;
  height: 30px;
  border-radius: 12px;
  background-color: var(--bg-300);
  color: var(--text-100);
}

.add-btn {
  border-radius: 8px;
  background-color: white;
  font-weight: bolder;
  border: 5px solid white;
  height: 50px;
  margin-top: 8px;
  color: var(--bg-300);
  cursor: pointer;
}

.todolist {
  border-radius: 12px;
  background-color: var(--bg-300);
  margin: 0px;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.todo-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 2px solid var(--bg-100);
  border-radius: 12px;
  width: 270px;
  background-color: var(--bg-200);
  color: var(--text-100);
  margin-bottom: 10px;
  padding: 0px 10px 10px 10px;
}

.todo-btn {
  margin: 0px 50px 0px 50px;
}

.del-btn {
  border-radius: 8px;
  border: 5px solid var(--accent-100);
  background-color: var(--accent-100);
  font-weight: bolder;
  margin-right: 10px;
  cursor: pointer;
}

.done-btn {
  border-radius: 8px;
  border: 5px solid white;
  background-color: white;
  font-weight: bolder;
  color: var(--bg-300);
  cursor: pointer;
}

.cancle-btn {
  border-radius: 8px;
  border: 5px solid white;
  background-color: white;
  font-weight: bolder;
  color: var(--bg-300);
}
